@font-face {
  font-family: "inter";
  src: url("../public/fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
}

#root {
  padding: 0px;
  font-family: "inter";
}
